<div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
     <div class="overlay"></div>
     <div class="container">
          <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
               <div class="col-lg-8 ftco-animate">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                         <h1 class="mb-4">
                              Mod rapid și ușor de a închiria o mașină
                         </h1>
                         <p style="font-size: 18px;">
                              Livrare la AEROPORT 24/24.🚗
                         </p>
                         <p style="font-size: 18px;">
                              Scaun Pentru Copil GRATIS👶
                         </p>
                         <p style="font-size: 18px;">
                              Cele Mai Bune Preturi La Clienti Fideli🎲🎰
                         </p>
                         <p style="font-size: 18px;">
                              🛣Importate din Europa
                         </p>
                         <p style="font-size: 18px;">
                              069448822
                              079122122
                         </p>
                    </div>
               </div>
          </div>
     </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
     <div class="container">
          <div class="row no-gutters">
               <div class="col-md-12	featured-top">
                    <div class="row no-gutters">
                         <div class="col-md-4 d-flex align-items-center">
                              <form action="#" class="request-form ftco-animate bg-primary">
                                   <h2>Fă-ți călătoria</h2>
                                   <div class="form-group">
                                        <label for="" class="label">
                                             LOCALITATE DE PRELUARE
                                        </label>
                                        <input type="text" class="form-control" placeholder="Orasul, strada, blocul etc">
                                   </div>
                                   <div class="form-group">
                                        <label for="" class="label">
                                             LOCALITATE DE PREDARE
                                        </label>
                                        <input type="text" class="form-control" placeholder="Orasul, strada, blocul etc">
                                   </div>
                                   <div class="d-flex">
                                        <div class="form-group mr-2">
                                             <label for="" class="label">DATA RIDICĂRII</label>
                                             <input type="text" class="form-control" id="book_pick_date" placeholder="Data">
                                        </div>
                                        <div class="form-group ml-2">
                                             <label for="" class="label">
                                                  DATA PREDĂRII
                                             </label>
                                             <input type="text" class="form-control" id="book_off_date" placeholder="Data">
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label for="" class="label">ORA DE PRELUARE</label>
                                        <input type="text" class="form-control" id="time_pick" placeholder="Ora">
                                   </div>
                                   <div class="form-group">
                                        <input type="submit" value="Închiriază o mașină acum" class="btn btn-secondary py-3 px-4">
                                   </div>
                              </form>
                         </div>
                         <div class="col-md-8 d-flex align-items-center">
                              <div class="services-wrap rounded-right w-100">
                                   <h3 class="heading-section mb-4">
                                        O modalitate mai bună de a-ți închiria mașinile perfecte
                                   </h3>
                                   <div class="row d-flex mb-4">
                                        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                             <div class="services w-100 text-center">
                                                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                                  <div class="text w-100">
                                                       <h3 class="heading mb-2">
                                                            Alegeți locația dvs. de preluare
                                                       </h3>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                             <div class="services w-100 text-center">
                                                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                                  <div class="text w-100">
                                                       <h3 class="heading mb-2">Selectați cea mai bună ofertă</h3>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                             <div class="services w-100 text-center">
                                                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                                  <div class="text w-100">
                                                       <h3 class="heading mb-2">
                                                            Rezervați-vă mașina de închiriat
                                                       </h3>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <p>
                                        <a href="#" class="btn btn-primary py-3 px-4">
                                             Rezervă-ți mașina perfectă
                                        </a>
                                   </p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading">Ceea ce oferim</span>
                    <h2 class="mb-2">
                         Vehicule prezentate
                    </h2>
               </div>
          </div>
          <div class="row">
               <div class="col-md-12">
                    <div class="carousel-car owl-carousel">
                         <div class="item">
                              <div class="car-wrap rounded ftco-animate">
                                   <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-1.jpg);">
                                   </div>
                                   <div class="text">
                                        <h2 class="mb-0"><a href="#">Mercedes-Benz E-Class</a></h2>
                                        <div class="d-flex mb-3">
                                             <span class="cat">Cabriolet</span>
                                             <p class="price ml-auto">$50 <span>/day</span></p>
                                        </div>
                                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezerva acum</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detalii</a></p>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="car-wrap rounded ftco-animate">
                                   <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-2.jpg);">
                                   </div>
                                   <div class="text">
                                        <h2 class="mb-0"><a href="#">Range Rover Sport</a></h2>
                                        <div class="d-flex mb-3">
                                             <span class="cat">SUV</span>
                                             <p class="price ml-auto">$55 <span>/day</span></p>
                                        </div>
                                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezerva acum</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detalii</a></p>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="car-wrap rounded ftco-animate">
                                   <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-3.jpg);">
                                   </div>
                                   <div class="text">
                                        <h2 class="mb-0"><a href="#">McLaren 720S</a></h2>
                                        <div class="d-flex mb-3">
                                             <span class="cat">Coupé</span>
                                             <p class="price ml-auto">$100 <span>/day</span></p>
                                        </div>
                                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezerva acum</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detalii</a></p>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="car-wrap rounded ftco-animate">
                                   <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-4.jpg);">
                                   </div>
                                   <div class="text">
                                        <h2 class="mb-0"><a href="#">Ford Mustang Boss</a></h2>
                                        <div class="d-flex mb-3">
                                             <span class="cat">Coupé</span>
                                             <p class="price ml-auto">$50 <span>/day</span></p>
                                        </div>
                                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezerva acum</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detalii</a></p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<section class="ftco-section ftco-about">
     <div class="container">
          <div class="row no-gutters">
               <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
               </div>
               <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                         <span class="subheading">Despre noi</span>
                         <h2 class="mb-4">Bun venit la RentCar</h2>

                         <p>Compania noastra a fost creata de tineri ambitiosi care au venit cu ideea de a ajuta persoanele care nu au un automobil personal.</p>
                         <p>Din start am avut masini intretinute si ingrijite, la fel si pana in ziua de astazi. Avem grija ca clientii nostri sa se simta comfortabil in masinile pe care le oferim. In comparatie cu alte companii de ichiriere a masinilor, compania noastra ofera preturi accesibile pentru orice persoana, la fel oferim si achitarea in rate.</p>
                         <p><a href="#" class="btn btn-primary py-3 px-4">Caută vehicul</a></p>
                    </div>
               </div>
          </div>
     </div>
</section>

<section class="ftco-section">
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Servicii</span>
                    <h2 class="mb-3">
                         Cele mai recente servicii ale noastre
                    </h2>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                         <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                         <div class="text w-100">
                              <h3 class="heading mb-2">
                                   Ceremonii de casatorie
                              </h3>
                              <p>Oferim in chirie limuzina cu toate aranjamentele din partea noastra + sampanie cadou</p>
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                         <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                         <div class="text w-100">
                              <h3 class="heading mb-2">
                                   Transfer de marfa
                              </h3>
                              <p>Oferim in chirie masina speciala pentru a transporta mobila sau marfa dintr-un oras in altul </p>
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                         <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
                         <div class="text w-100">
                              <h3 class="heading mb-2">Transfer aeroport</h3>
                              <p>Oferim in chirie masina tot cu sofer pentru a va duce la aeroport</p>
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                         <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                         <div class="text w-100">
                              <h3 class="heading mb-2">Turul întregului oraș</h3>
                              <p>Oferim in chirie masina comfortabila tot cu ghid pentru a va arata cele mai pitoresti si faimoase locuri din oras</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
     <div class="overlay"></div>
     <div class="container">
          <div class="row justify-content-end">
               <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3">
                         Vrei să câștigi cu noi? Deci nu întârzia.
                    </h2>
                    <a href="#" class="btn btn-primary btn-lg">
                         Deveniți șofer
                    </a>
               </div>
          </div>
     </div>
</section>


<section class="ftco-section testimony-section bg-light">
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Recenzii</span>
                    <h2 class="mb-3">Clientii fericiti de serviciile noastre</h2>
               </div>
          </div>
          <div class="row ftco-animate">
               <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                         <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                   <div class="user-img mb-2" style="background-image: url(images/screenshot_2.png)">
                                   </div>
                                   <div class="text pt-4">
                                        <p class="mb-4">De fiecare data cand am apelat la serviciile RentCar am ramas multumita la 100% de masinile oferite si comportamentul soferilor</p>
                                        <p class="name">Madalina Gurau</p>
                                        <span class="position">Director General</span>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                   <div class="user-img mb-2" style="background-image: url(images/screenshot_5.png)">
                                   </div>
                                   <div class="text pt-4">
                                        <p class="mb-4">De cate ori m-am adresat la baieti sa-mi adca masina la o ora anumita, pai de fiecare masina ma astepta in fata casei, fara nici o intarziere</p>
                                        <p class="name">Cotelea Marius</p>
                                        <span class="position">Designer de interfață</span>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                   <div class="user-img mb-2" style="background-image: url(images/screenshot_6.png)">
                                   </div>
                                   <div class="text pt-4">
                                        <p class="mb-4">Niciodata nu sa intamplat ca sa ma urc intr-o masina murdara, chiar daca afara este timpul nefavorabil, baietii sunt tare respectuosi</p>
                                        <p class="name">Golis Gheorghe</p>
                                        <span class="position">Vice-presedinte</span>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                   <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                   </div>
                                   <div class="text pt-4">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Web Developer</span>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                   <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                   </div>
                                   <div class="text pt-4">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Roger Scott</p>
                                        <span class="position">System Analyst</span>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<section class="ftco-section">
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Blog</span>
                    <h2>Bloguri recente</h2>
               </div>
          </div>
          <div class="row d-flex">
               <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                         <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
                         </a>
                         <div class="text pt-4">
                              <div class="meta mb-3">
                                   <div><a href="#">Dec. 11, 2001</a></div>
                                   <div><a href="#">Admin</a></div>
                                   <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                              </div>
                              <h3 class="heading mt-2"><a href="#">De ce este bine sa iai o masina potrivita in odihna peste hotare</a></h3>
                              <p><a href="#" class="btn btn-primary">Citeste mai mult</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                         <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                         </a>
                         <div class="text pt-4">
                              <div class="meta mb-3">
                                   <div><a href="#">Iun. 11, 2004</a></div>
                                   <div><a href="#">Admin</a></div>
                                   <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                              </div>
                              <h3 class="heading mt-2"><a href="#">Motocicletele sport sunt cele mai preferate</a></h3>
                              <p><a href="#" class="btn btn-primary">Citeste mai mult</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry">
                         <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                         </a>
                         <div class="text pt-4">
                              <div class="meta mb-3">
                                   <div><a href="#">Dec. 31, 2021</a></div>
                                   <div><a href="#">Admin</a></div>
                                   <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                              </div>
                              <h3 class="heading mt-2"><a href="#">Corvette scoate o noua masina in vanzare</a></h3>
                              <p><a href="#" class="btn btn-primary">Citeste mai mult</a></p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<section class="ftco-counter ftco-section img bg-light" id="section-counter">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                         <div class="text text-border d-flex align-items-center">
                              <strong class="number" data-number="12">0</strong>
                              <span>Ani <br> de experienta</span>
                         </div>
                    </div>
               </div>
               <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                         <div class="text text-border d-flex align-items-center">
                              <strong class="number" data-number="1090">0</strong>
                              <span>Masini <br>totale</span>
                         </div>
                    </div>
               </div>
               <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                         <div class="text text-border d-flex align-items-center">
                              <strong class="number" data-number="2590">0</strong>
                              <span>Clienti <br>Fericiti</span>
                         </div>
                    </div>
               </div>
               <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                         <div class="text d-flex align-items-center">
                              <strong class="number" data-number="67">0</strong>
                              <span>Total <br>Ramuri</span>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>